html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
@media only screen and (min-width: 768px) {
	body{
		overflow: hidden;
	}
}

@font-face{
	font-family: "Rubik";
	src: url("./fonts/Rubik-Light.ttf") format("ttf");
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	width:100%;
	color:white;
	outline: none;
	border: none;
	background-color: rgb(92, 92, 92);
}
select {
	background-color: rgb(92,92,92);
}
textarea{
	resize: vertical;
}

input:disabled {
	color: #ccc;
}

button {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	box-sizing: border-box;
	outline: none;
	background: maroon;
  color: rgb(224, 224, 224);
  min-width: 80px;
  border: none;
	cursor: pointer;
	border-radius: 5px;
	transition: all 0.1s ease-in-out;
}

button:disabled {
	cursor:not-allowed;
	background-color: rgb(199, 199, 199);
	color: #666;
}

button:not(:disabled):active {
	background-color: #999;
	color:maroon;
}

button:focus {
	border-color: #666;
}

button:hover {
	background: rgb(107, 0, 0);
	color: rgb(228, 228, 228);
}

.scrollable{
	overflow: auto;
}
.scrollable::-webkit-scrollbar-track
{
	box-sizing: border-box;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 3px;
}

.scrollable::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
  background-color: #919191;
}

.scrollable::-webkit-scrollbar-thumb
{
	
	box-sizing: border-box;
  border-radius: 3px;
  box-shadow: inset 0 0 6px#000000;
  -webkit-box-shadow: inset 0 0 6px #ffffff;
  background-color:  rgb(224, 224, 224);
}

.textContainer{
	color: white;
}

.virtualGap {
  border-left: 6px solid rgb(56, 56, 56);
}

.stepParagraph {
	color: white;
	font-size: 1.1rem
}

/*dropdown style*/


.dropdown-table-tr {
	color: #000;
}
.dropdown-table-tr:hover {
	background-color: #ddd;
	/*color: #0093e5;*/
	color: black;
}


.dropdown-opened {
	background-color: #cacaca;
	color: black;
	transition: 0.1s;
}

.dropdown-opened-dark {
	background-color: rgb(180, 180, 180);
	transition: 0.1s;
}

.dropdown-menuitem {
	text-decoration: none;
	cursor: pointer;
	white-space: nowrap;
	padding: 5px;
}

.dropdown-menuitem-hr {
	/*padding: 2px 2px 2px 2px;*/
	border-bottom: 1px solid #ccc;
	width: calc(100% - 16px);
	box-sizing: border-box;
}

.dropdown-menu-container {
	background-color: #f1f1f1;
	min-width: 160px;
	border-bottom: 1px solid #bababa;
	border-left: 1px solid #bababa;
	border-right: 1px solid #bababa;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
	z-index: 2;
}

.dropdown-button {
	
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: 0.5s;
}


.dropdown-button:hover {
	background-color: #111;
	color: rgb(201, 201, 201);
}